<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
	<title>Cadastro Usuário</title>
</head>
<body>
	<div id="login">
		<h3 class="text-center text-black pt-5">Cadastro de Usuário</h3>
		<div class="container">
			<div id="login-row" class="row justify-content-center align-items-center">
				<div id="login-column" class="col-md-6">
					<div id="login-box" class="col-md-12">
						<form id="cadastro-form" class="form" th:object="${usuario}" action="/usuario/inserir" method="post">
							<div class="form-control">
								<div class="alert alert-danger" role="alert" th:if="${msg}">
									<strong th:text="${msg}"></strong>
								</div>

								<div class="form-group">
									<label for="email" class="text-dark">Email:</label>
									<input type="text" class="form-control" name="email" id="email" th:field="*{email}" placeholder="Digite o email" required>
								</div>

								<div class="form-group">
									<label for="dataNascimento" class="text-dark">Data Nascimento:</label>
									<input type="date" class="form-control" name="dataNasc" id="dataNasc" placeholder="Digite o login" required>
								</div>

								<div class="form-group">
									<label for="role" class="text-dark">Papel:</label>
									<select name="roleUser" id="roleUser" class="form-control">
										<option th:each="role:${papeis}" th:value="${role.nome}" th:text="${#strings.substring(role.nome, 5)}"></option>
									</select>
								</div>

								<div class="form-group">
									<label for="password" class="text-dark">Senha:</label>
									<input type="password" class="form-control" name="password" id="password" th:field="*{password}" placeholder="Digite a senha" required>
								</div>

								<div class="form-group">
									<label for="confirmarPassword" class="text-dark">Repetir Senha:</label>
									<input type="password" class="form-control" name="confirmarPassword" id="confirmarPassword" placeholder="Repetir a senha" required>
								</div>

								<div class="form-group">
									<div class="text-center">
										<button type="submit" class="btn btn-success">Cadastrar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
