<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/js/bootstrap.min.js"></script>
	<title>Painel de Usuário</title>
</head>
<body class="d-flex flex-column min-vh-100">
	
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="textoNavbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link text-dark" th:href="@{/dashboard}"><i class="fa fa-home"></i>Home</a>
					</li>
					<!-- Dropdown aluno -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" id="navbardrop" data-toggle="dropdown">
							<i class="fa fa-user"></i>Aluno
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item text-dark" th:href="@{/aluno/editar}"><i class="fa fa-pencil-square"></i>Editar</a>
							<a class="dropdown-item text-dark" th:href="@{/aluno/deletar}"><i class="fa fa-trash"></i>Excluir</a>
							<a class="dropdown-item text-dark" th:href="@{/aluno/inserir}"><i class="fa fa-graduation-cap"></i>Inserir</a>
							<a class="dropdown-item text-dark" th:href="@{/aluno/listar}"><i class="fa fa-search"></i>Listar</a>
						</div>
					</li>
					<!-- Dropdown Professor -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" id="navbardrop" data-toggle="dropdown">
							<i class="fa fa-user"></i>Professor
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item text-dark" th:href="@{/professor/editar}"><i class="fa fa-pencil-square"></i>Editar</a>
							<a class="dropdown-item text-dark" th:href="@{/professor/deletar}"><i class="fa fa-trash"></i>Excluir</a>
							<a class="dropdown-item text-dark" th:href="@{/professor/inserir}"><i class="fa fa-graduation-cap"></i>Inserir</a>
							<a class="dropdown-item text-dark" th:href="@{/professor/listar}"><i class="fa fa-search"></i>Listar</a>
						</div>
					</li>
					<!-- Dropdown Turma -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" id="navbardrop" data-toggle="dropdown">
							<i class="fa fa-user"></i>Turma
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item text-dark" th:href="@{/turma/editar}"><i class="fa fa-pencil-square"></i>Editar</a>
							<a class="dropdown-item text-dark" th:href="@{/turma/deletar}"><i class="fa fa-trash"></i>Excluir</a>
							<a class="dropdown-item text-dark" th:href="@{/turma/inserir}"><i class="fa fa-graduation-cap"></i>Inserir</a>
							<a class="dropdown-item text-dark" th:href="@{/turma/listar}"><i class="fa fa-search"></i>Listar</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<main class="flex-fill">
		<section class="neo-section">
			<div class="container mb-5">
				<h2 class="text-dark">Professores Adicionados</h2>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center text-dark" scope="col">Nome</th>
							<th class="text-center text-dark" scope="col">CPF</th>
							<th class="text-center text-dark" scope="col">Email</th>
							<th class="text-center text-dark" scope="col">Matrícula</th>
							<th class="text-center text-dark" scope="col">Títulacao</th>
							<th class="text-center text-dark" scope="col">Excluir</th>							
						</tr>
					</thead>
					<tbody>
						<tr scope="row" th:each="professor:${professores}">
							<td class="text-center text-dark" th:text="${professor.nome}"></td>
							<td class="text-center text-dark" th:text="${professor.cpf}"></td>
							<td class="text-center text-dark" th:text="${professor.email}"></td>
							<td class="text-center text-dark" th:text="${professor.matricula}"></td>
							<td class="text-center text-dark" th:text="${professor.titulacao}"></td>
							<td class="text-center">
								<a class="btn btn-danger" th:href="@{/professor/excluir/{id}(id=${professor.id})}">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</main>
	<footer class="bg-light text-center text-lg-start">
		<div class="text-center p-3" style="color: #000; font-weight: bold;">
			2025 Copyright: SENAC
		</div>
	</footer>
</body>
</html>
